body {
    background-color: black;
    text-align: center;
    color: white;
    margin: 30px;
    font-size: 1.3rem;
}
button {
    margin: 30px;
}

button {
    width: 200px;
    height: 70px;
    background-color: #00ffc3;
}

#binary {
    text-align: center;
}

#img {
    text-align: left;
}